.dropdown-label select {
  border: 1px solid var(--button-text-color);
  color: var(--button-text-color);
  width: 100%;
  height: 2rem;
  background-color: transparent;
  border-radius: var(--brd-rad);
  font-size: 1.4rem;
  padding-left: 0.3rem;
  padding-bottom: 0.2rem;
}

.dropdown-label select option {
  border: 1px solid var(--button-text-color);
  color: var(--button-text-color);
  background-color: var(--clr-background);
}

.number-input-label p {
  font-size: 0;
}
