input[type="text"] {
  background-color: transparent;
  border-radius: var(--brd-rad);
  border: 1px solid var(--button-color);

  width: 100%;
  min-width: 300px;
  height: 5rem;
  padding: 1.5rem;

  font-size: 2rem;

  color: white;
}

input[type="text"]::placeholder {
  color: var(--clr-text-dark);
}
