.title a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.title a h1 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.9rem;
  text-align: center;
}

.title a img {
  max-width: 5rem;
}

@media (min-width: 530px) {
  .title a h1 {
    font-size: 3rem;
  }
}

@media (min-width: 700px) {
  .title a {
    flex-direction: column;
    max-width: 30rem;
  }

  .title a img {
    max-width: 7.5rem;
  }

  h1 {
    font-size: 3rem;
  }
}
