.card {
  border-radius: 0.375rem;
  background-color: var(--clr-main);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  max-width: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}

.channel-warper-a {
  display: flex;
  width: 100%;
  text-decoration: none;
  border-radius: var(--brd-rad);
  padding: 0.7rem 1rem;
}

.channel-warper-a:hover {
  background-color: var(--clr-focus);
}

.border {
  content: "";
  height: 1px;
  width: 350px;
  max-width: 95%;
  background-color: var(--clr-focus);
}

.channel-warper {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;
}

.channel-warper img {
  border-radius: 50%;
  max-width: 2.5rem;
}

.channel-warper h2 {
  color: var(--clr-text);
  font-size: var(--text-channel-title);
  white-space: nowrap;
}

.text-overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.video-warper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  border-radius: var(--brd-rad);
}

.video-warper h2 {
  color: var(--clr-text);
  font-size: var(--text-video-title);
}

.video-date {
  text-align: right;
  color: var(--clr-text);
  position: absolute;
  bottom: 1px;
  right: 1px;

  background-color: var(--clr-black-alpha);
  padding: 0.2rem 0.2rem;
  border-radius: var(--brd-rad);
}
