.manual-steps {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  max-width: 50rem;
  height: 100%;

  padding: 0 1rem;
}

.manual-steps p {
  font-size: 1.5rem;
  text-align: center;
}

.manual-steps a {
  text-decoration: underline;
}
.manual-steps a:hover {
  color: var(--clr-highlight-active);
}

.highlight {
  color: var(--clr-highlight);
}
a.highlight:hover {
  color: var(--clr-highlight-active);
}

.manual-input {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.manual-input button {
  align-self: end;
}

form {
  max-width: 30rem;
  width: 100%;
}
