.spoiler-container {
  width: 100%;
}

.spoiler-label {
  cursor: pointer;
}

.spoiler-label:hover div,
.spoiler-label:hover p {
  color: var(--clr-highlight);
  border-color: var(--clr-highlight);
}

.spoiler-label:has(input[type="checkbox"]:checked) div {
  color: var(--clr-highlight);
  border-color: var(--clr-highlight);
}

.spoiler-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spoiler-label .spoiler-text p {
  text-align: left;
}

.spoiler-qm {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: 600;
}

.spoiler-container input[type="checkbox"] {
  display: none;
}

.spoiler-content {
  display: none;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1.5rem;

  border: 1px solid white;
  border-radius: 3px;
  padding: 1rem;
}

.spoiler-container .spoiler-content p {
  text-align: left;
}

.spoiler-container label:has(input[type="checkbox"]:checked) ~ .spoiler-content {
  display: flex;
}
