:root {
  /* ----------colors---------- */
  /* main colors */
  --clr-background: #222222;
  --clr-main: #343438;
  --clr-focus: #59595a;
  --clr-black-alpha: rgba(0, 0, 0, 0.7);

  /* text */
  --clr-text: white;

  /* ----------fonts---------- */
  --text-channel-title: 1.5rem;
  --text-video-title: 1rem;

  /* ----------misc---------- */
  /* border-radius */
  --brd-rad: 3px;

  --button-color: #d9d9d9;

  --button-color-hover: #ffffff26;
  --button-color-hover-main: white;

  --button-color-active: #8c8c8c26;
  --button-color-active-main: #bfbfbf;

  --button-text-color: #f4f4f4;

  --clr-text-dark: #f4f4f499;
}

html,
body {
  background-color: var(--clr-background);
}

html,
body {
  height: 100vh;
}

h1,
h2,
h3,
p,
a {
  color: var(--clr-text);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  padding-top: 1rem;
}

.text-overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
